@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {

    Hide scrollbar for Chrome, Safari and Opera
    .no-scrollbar::-webkit-scrollbar {
        display: none;
    }

    /* Hide scrollbar for IE, Edge and Firefox */
    .no-scrollbar {
        -ms-overflow-y-style: none;
        /* IE and Edge */
        scrollbar-width: none;
        /* Firefox */
    }
}

html {
    background-color: #e5e7eb;
}

* {
    box-sizing: border-box;
}

/* width */
::-webkit-scrollbar {
    width: 6px;
}

/* Track */
::-webkit-scrollbar-track {
    background: rgb(237, 233, 254);
    background: linear-gradient(90deg, rgba(237, 233, 254, 1) 0%, rgba(224, 231, 255, 1) 100%);
    border-radius: 5px;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #b2a4ff;
    border-radius: 5px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #8575e0;
}